@import "tailwindcss";

:root {
  --app-bg: #f5f7fb;
  --app-text: #0a0a0a;
  --surface: #ffffff;
}



html{
  background-color: #000;
  scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* evita rolagem horizontal */
  height: 100%;
  width: 100%;
}





html, body, #root{
  width: 100vw;
  height: 100%;
  padding: 0;
margin: 0;

}